<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ design.title }} Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <h1>{{ design.title }}</h1>
</header>

<main class="design-detail">
    <div class="design-image">
        <img height="200px" width="200px" src="{{ design.file.url }}" alt="{{ design.title }} Image">
    </div>
    <div class="design-info">
        <h2>Description</h2>
        <p>{{ design.description }}</p>
        <p>Price: ${{ design.price }}</p>
        <p>File Type: {{ design.file_type }}</p>
        <p>File Size: {{ design.file_size }} bytes</p>

        <!-- Payment Options -->
        <div class="payment-options">
            <h3>Buy Now</h3>
            <p>Select your preferred payment method:</p>
            <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST">
                <input type="hidden" id="amount" name="amount" value="{{ design.price }}" required>
                <input type="hidden" id="tax_amount" name="tax_amount" value ="0" required>
                <input type="hidden" id="total_amount" name="total_amount" value="{{ design.price }}" required>
                <input type="hidden" id="transaction_uuid" name="transaction_uuid" value="{{ esewa.transaction_uuid }}" required>
                <input type="hidden" id="product_code" name="product_code" value ="{{ esewa.product_code }}" required>
                <input type="hidden" id="product_service_charge" name="product_service_charge" value="0" required>
                <input type="hidden" id="product_delivery_charge" name="product_delivery_charge" value="0" required>
                <input type="hidden" id="success_url" name="success_url" value="{{ esewa.success_url }}" required>
                <input type="hidden" id="failure_url" name="failure_url" value="https://google.com" required>
                <input type="hidden" id="signed_field_names" name="signed_field_names" value="total_amount,transaction_uuid,product_code" required>
                <input type="hidden" id="signature" name="signature" value="{{ esewa.signature }}" required>
                <input value="Pay with Esewa" type="submit">
            </form>
            <a href="{% url 'khalti_pay' design.pk %}">
                <button name="payment_method" value="khalti" class="btn">Pay with Khalti</button>
            </a>
        </div>
    </div>
</main>

<footer>
    <p>&copy; 2024 कलाकुंज. All rights reserved.</p>
</footer>
</body>
</html>
